@import "ag-grid-community/styles/ag-grid.css";

@import "ag-grid-community/styles/ag-theme-quartz.css";

.edited {
  background-color: red !important;
}
.notEdited {
  background-color: blue !important;
}
.editing {
  background-color: yellow !important;
}
